<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <title>{% block title %}Reconnix{% endblock %} - Reconnix</title>

        <link href="{{  asset('css/adminMain.css') }}" rel="stylesheet" media="all" />

    </head>
    <div id="admin-nav">
    	<a class="admin-nav" href="{{ path('reconnix_main_admin_index') }}">Admin Home</a>
    	<a class="admin-nav" href="{{ path('reconnix_main_index', {"name":"home"}) }}">Visit Site</a>
    </div>
	
    <body>
		<table id="dashboard-table">
			<thead>
			<tr><th colspan="3">Pages</th></tr>
			</thead>
			<tbody>
			{% for page in pages %}
				<tr>
					<td>{{page.title}}</td>
					<td>
						<a href="{{ path('reconnix_main_admin_pages_edit', {'id': page.id}) }}">View/Edit</a>
					</td>
					<td>
						<a href="{{ path('reconnix_main_admin_pages_delete', {'id': page.id}) }}">Delete</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</body>
</html>