{% block body %}
	<div class="main-light-grey news-area no-bottom-border">
		<div class="inner-content">
			{% for post in posts | slice(0, 1) %}
				<div class="col span_3_of_3 news-item news-large press-release">
					<div class="inner">
						<a href="../newsroom/{{post.tag}}/{{post.name}}">
							<h1 class='news-title'>{{post.title | raw}}</h1>
						</a>
						<a href="../newsroom/{{post.tag}}/{{post.name}}">
							<span class='news-date'>{{post.date | date('Y-m-d') }}</span>
						</a>
						<p>
							{{post.content | slice(0, 512) | raw}}...
							<a href="../newsroom/{{post.tag}}/{{post.name}}">
								<span class='read-more'> Read more</span>
							</a>
						</p>
					</div>
				</div><!-- news-large -->
			{% endfor %}
			{% for post in posts | slice(1, 1) %}
				<div class="col span_1_of_3 news-item news-top-right news-small news">
					<div class="inner">
						<a href="../newsroom/{{post.tag}}/{{post.name}}">
							<h3 class='news-title'>{{post.title | raw}}</h3>
						</a>
						<a href="../newsroom/{{post.tag}}/{{post.name}}">
							<span class='news-date'>{{post.date | date('Y-m-d') }}</span>
						</a>
						<p>
							{{post.content | slice(0, 490) | raw}}... 
							<a href="../newsroom/{{post.tag}}/{{post.name}}">
								<span class='read-more'> Read more</span>
							</a>
						</p>
					</div>				
				</div><!-- news-top-right -->
			{% endfor %}
			<div class="section news-bottom">
				{% for post in posts | slice(2) %}
					<div class="col span_1_of_3 news-item news-small news">
						<div class="inner">
							<a href="../newsroom/{{post.tag}}/{{post.name}}">
								<h3 class='news-title'>{{post.title | raw}}</h3>
							</a>
							<a href="../newsroom/{{post.tag}}/{{post.name}}">
								<span class='news-date'>{{post.date | date('Y-m-d') }}</span>
							</a>
							<p>
								{{post.content | slice(0, 450) | raw}}... 
								<a href="../newsroom/{{post.tag}}/{{post.name}}">
									<span class='read-more'> Read more</span>
								</a>
							</p>				
						</div>								
					</div><!-- 1_of_3 -->											
				{% endfor %}
			</div><!-- news-bottom -->
		</div><!-- inner-content (main-light-grey) -->
	</div><!-- main-light-grey -->		
{% endblock %}