{% block header %}
	
		<div class='group section top-banner'>
			<div class='inner-content'>
			<div class='col span_1_of_5 top-banner-text portal'>
				<p><a href='http://portal.reconnix.com'>Client Portal</a></p>
			</div>
			<div class='col span_1_of_5 top-banner-text'>
				<p>0845 421 0444</p>
			</div>
			</div>
		</div>
		<div class='group inner-content'>
			<a href="{{ path('reconnix_main_homepage') }}" class='logo col span_1_of_4'>
				<img src="{{ asset('images/reconnix-logo.svg') }}" alt=''>
			</a>
			<div class='col span_3_of_4'>
				<nav>
					<ul>
						<li class="col span_1_of_8"><a href="{{ path('reconnix_main_services') }}" class='top-nav'>Services</a></li>
						<li class="col span_1_of_8"><a href="{{ path('reconnix_main_company') }}" class='top-nav'>Company</a></li>
						<li class="col span_1_of_8"><a href="{{ path('reconnix_main_newsroom') }}" class='top-nav'>Newsroom</a></li>
						<li class="col span_1_of_8"><a href="{{ path('reconnix_main_contact') }}" class='top-nav'>Contact</a></li>					
					</ul>
				</nav>
			</div>
		</div><!-- inner-content -->

{% endblock %}