<a href="{{ path('reconnix_main_admin_blocks_index') }}">Blocks</a>
<a href="{{ path('reconnix_main_admin_pages_index') }}">Pages</a>
<a href="{{ path('reconnix_main_admin_posts_index') }}">Posts</a>
<a href="{{ path('reconnix_main_admin_content_wizard_index') }}">Wizard</a><hr>

Blocks<br>

{% for block in blocks %}
	<a href="{{ path('reconnix_main_admin_blocks_edit', {'id': block.id }) }}">{{block.name}}</a><br>
{% endfor %}
<br><a href="{{ path('reconnix_main_admin_blocks_add') }}">Add</a>