<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <title>{% block title %}Reconnix{% endblock %} - Reconnix</title>

        <link href="{{  asset('css/adminMain.css') }}" rel="stylesheet" media="all" />

    </head>
     <body>
     	<div id="admin-nav">
    		<div id="admin-nav-logo">
    			<a class="admin-nav" href="{{ path('reconnix_main_admin_index') }}">
    				<img src="{{ asset('images/admin-logo.png')}}" />
    			</a>
    		</div>
    		<div id="admin-nav-links">
    			<a class="admin-nav" href="{{ path('reconnix_main_admin_index') }}">Admin Home</a>
    			<a class="admin-nav" href="{{ path('reconnix_main_index', {"name":"home"}) }}">Visit Site</a>
    		</div>
   		</div>
		<table id="dashboard-table">
			<thead>
				<th colspan="1">Blocks</th>
				<th colspan="2">
					<a href="{{ path('reconnix_main_admin_blocks_add') }}">Add New</a>
				</th>
			</thead>
			<tbody>
			{% for block in blocks %}
				<tr>
					<td>
						<a href="{{ path('reconnix_main_admin_blocks_edit', {'id': block.id}) }}">{{block.name}}</a>
					</td>
					<td>
						<a href="{{ path('reconnix_main_admin_blocks_delete', {'id': block.id}) }}">Delete</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</body>
</html>