<a href="{{ path('reconnix_main_admin_index') }}">Home</a>
<a href="{{ path('reconnix_main_admin_blocks_index') }}">Blocks</a>
<a href="{{ path('reconnix_main_admin_pages_index') }}">Pages</a>
<a href="{{ path('reconnix_main_admin_posts_index') }}">Posts</a>
<a href="{{ path('reconnix_main_admin_content_wizard_index') }}">Wizard</a>
<a href="{{ path('reconnix_main_admin_templates_index') }}">Templates</a><hr>

Add a Block

{{form(form)}}

{{tinymce_init()}}