<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <title>{% block title %}Reconnix{% endblock %} - Reconnix</title>

        <link href="{{  asset('css/adminMain.css') }}" rel="stylesheet" media="all" />
  		<script src="//code.jquery.com/jquery-1.9.1.js"></script>
  		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  		<script>
  		$(function() {
    		$('.ajax-call').click(function(){
    			$.ajax({
    				type: "POST",
    				url: "{{ path('reconnix_main_admin_pages_delete', {id:31}) }}"

    			}).done(function(msg){
    				$("#mydiv").append(msg);
    			})
    		})
  		});
  		</script>
    </head>
     <body>
     	<div id="admin-nav">
    		<div id="admin-nav-logo">
    			<a class="admin-nav" href="{{ path('reconnix_main_admin_index') }}">
    				<img src="{{ asset('images/admin-logo.png')}}" />
    			</a>
    		</div>
    		<div id="admin-nav-links">
    			<a class="admin-nav" href="{{ path('reconnix_main_admin_index') }}">Admin Home</a>
    			<a class="admin-nav" href="{{ path('reconnix_main_index', {"name":"home"}) }}">Visit Site</a>
    		</div>
   		</div>
		<table id="dashboard-table">
			<thead>
			<tr>
				<th colspan="1">Pages</th>
				<th colspan="2">
					<a href="{{ path('reconnix_main_admin_pages_add') }}">Add New</a>
				</th>
			</tr>
			</thead>
			<tbody>
			{% for page in pages %}
				<tr>
					<td>
            <a href="{{ path('reconnix_main_admin_pages_edit', {'id': page.id}) }}">{{page.title}}</a>
          </td>
					<td>
						<a href="{{ path('reconnix_main_admin_pages_delete', {'id': page.id}) }}">Delete</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</body>
</html>